
{% include "header.html" %}
<div class="container">
  <h2>Change Password </h2><br><br>
  
  <form action="" method="POST" >
    {% csrf_token %}
    <div class="col-md-4">

      <div >
        <lable> <b> Old Password </b> </lable> <br><br>
        <input type="text" class="form-control"  placeholder="Old Password" name="password" required >
      </div><br><br>

      <div >
        <lable> <b> New Password </b> </lable> <br><br>
        <input type="password" class="form-control" placeholder="New Password" name="newPassword" required>
      </div><br><br>

      <div >
        <lable> <b> Re-Enter New Password </b> </lable> <br><br>
        <input type="password" class="form-control" placeholder="Re-Enter New Password" name="reNewPsd" required>
      </div><br><br>

      <button type="submit" class="btn btn-primary mt-3">Update Password</button> 
      <button class="btn btn-secondary mt-3"> <a href="{% url 'dashboard' %}"> Cancel </a></button> <br><br>
     
    </div>
   
  </form>
</div>


