<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% include "header.html" %}
<div class="container">

  {% csrf_token %}
  <h2>Patient List Table</h2>

  <hr style="height:1px;background-color:black">

  <div class="row">

  <button class="btn btn-secondary mt-3"> <a href="{% url 'dashboard' %}"> Back To Dashboard </a> </button>

  <button class="btn btn-secondary mt-3"> <a href="{% url 'addPatient' %}"> Add Patient </a> </button> 
   
  </div>

  <table class="table">
    
    <thead>
      
        <tr>
        <th>S.no</th>
        <th>ID</th>
        <th> Profile Photo </th>
        <th>User name</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone </th>
        <th>Zip_Code</th>
        <th>Address</th>
        <th>Action </th>
      </tr>
    
    </thead>

    <tbody>
        
        {% for a in data %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{a.user__id}}</td>

        <td>

          <img src="/media/{{a.image}}" alt="Profile Photo" height = 50px width=50px>

        </td>

        <td></td>
        <td>{{a.user__first_name}}</td>
        <td>{{a.user__last_name}}</td>
        <td>{{a.user__email}}</td>
        <td>{{a.phone}}</td>
        <td>{{a.zip_code}}</td>
        <td>{{a.address}}</td> 
        <td> <a href="{% url 'edit_patient' a.user__id %}">Edit</a> | <a  href="{% url 'delete_patient' a.user__id %}">Delete</a></td> 
        
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

</body>
</html>

